
$colors: (
  'robin': (
    DEFAULT: #09CEC4,
    50: #BFFCF9,
    100: #A7FBF7,
    200: #76F9F3,
    300: #45F7EE,
    400: #14F5EA,
    500: #09CEC4,
    600: #079D95,
    700: #046C67,
    800: #023B38,
    900: #000A09
  ),
  'meteor': (
    DEFAULT: #CE8209,
    50: #FCE5C0,
    100: #FBDBA8,
    200: #F9C777,
    300: #F7B346,
    400: #F59F15,
    500: #CE8209,
    600: #9D6307,
    700: #6C4405,
    800: #3B2503,
    900: #0B0700
  )
)
